* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #0f0c29;
  background-image: linear-gradient(315deg, #0f0c29 0%, #302b63 74%, #24243e 100%);
  color: #DCDDE1;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f0c29;
}

::-webkit-scrollbar-thumb {
  background: #3E1F78;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a32a3;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}